@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
.menu__icon span:nth-child(1) {
  animation: ease 0.8s menu-icon-top-2 forwards;
}

.menu__icon span:nth-child(2) {
  animation: ease 0.8s menu-icon-scaled-2 forwards;
}

.menu__icon span:nth-child(3) {
  animation: ease 0.8s menu-icon-bottom-2 forwards;
}

.menu__icon_after_click span:nth-child(1) {
  animation: ease 0.8s menu-icon-top forwards;
  top: 0.5rem;
  transform: rotate(45deg);
}

.menu__icon_after_click span:nth-child(2) {
  animation: ease 0.8s menu-icon-scaled forwards;
  transform: scale(0);
}

.menu__icon_after_click span:nth-child(3) {
  animation: ease 0.8s menu-icon-bottom forwards;
  bottom: 0.5rem;
  transform: rotate(135deg);
}
.hidden_menu {
  opacity: 0;
  transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
}
.expanded_menu {
  opacity: 1;
  transition: opacity 0.3s ease-in, max-height 0.5s ease-in;
}
.menu_item_hidden {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.menu_item_visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
@keyframes menu-icon-top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 0.5rem;
    transform: rotate(0);
  }
  100% {
    top: 0.5rem;
    transform: rotate(45deg);
  }
}

@keyframes menu-icon-top-2 {
  0% {
    top: 0.5rem;
    transform: rotate(45deg);
  }
  50% {
    top: 0.5rem;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 0.5rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0.5rem;
    transform: rotate(135deg);
  }
}

@keyframes menu-icon-bottom-2 {
  0% {
    bottom: 0.5rem;
    transform: rotate(135deg);
  }
  50% {
    bottom: 0.5rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes menu-icon-scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.loader {
  width: 56px;
  height: 56px;
}

.box1 {
  width: 56px;
  height: 24px;
  margin-top: 32px;
  margin-left: 0px;
  animation: abox1 1s 0.5s forwards ease-in-out infinite;
}

.box2 {
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 1s 0.5s forwards ease-in-out infinite;
}

.box3 {
  width: 24px;
  height: 24px;
  margin-top: 0px;
  margin-left: 32px;
  animation: abox3 1s 0.5s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 56px;
    height: 24px;
    margin-top: 32px;
    margin-left: 0px;
  }

  12.5%,
  25%,
  37.5%,
  50%,
  62.5% {
    width: 24px;
    height: 24px;
    margin-top: 32px;
    margin-left: 0px;
  }

  75% {
    width: 24px;
    height: 56px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5%,
  100% {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0%,
  12.5%,
  25%,
  37.5% {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 56px;
    height: 24px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5%,
  75%,
  87.5%,
  100% {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-left: 32px;
  }
}

@keyframes abox3 {
  0%,
  12.5% {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    margin-left: 32px;
  }

  25% {
    width: 24px;
    height: 56px;
    margin-top: 0px;
    margin-left: 32px;
  }

  37.5%,
  50%,
  62.5%,
  75%,
  87.5% {
    width: 24px;
    height: 24px;
    margin-top: 32px;
    margin-left: 32px;
  }

  100% {
    width: 56px;
    height: 24px;
    margin-top: 32px;
    margin-left: 0px;
  }
}
.wave_hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
